In [3]:
from flask import Flask, jsonify

In [4]:
import numpy as np
import datetime as dt
import pandas as pd

In [5]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy.pool import StaticPool

In [6]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite", connect_args={"check_same_thread": False}, poolclass=StaticPool, echo=True)

In [7]:
# Reflect Existing Database Into a New Model
Base = automap_base()
# Reflect the Tables
Base.prepare(engine, reflect=True)

2021-03-30 19:01:25,396 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-03-30 19:01:25,400 INFO sqlalchemy.engine.base.Engine ()
2021-03-30 19:01:25,402 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-03-30 19:01:25,403 INFO sqlalchemy.engine.base.Engine ()
2021-03-30 19:01:25,405 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-03-30 19:01:25,406 INFO sqlalchemy.engine.base.Engine ()
2021-03-30 19:01:25,409 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("measurement")
2021-03-30 19:01:25,410 INFO sqlalchemy.engine.base.Engine ()
2021-03-30 19:01:25,414 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-30 19:01:25,416 INFO sqlalchemy.engine.base.Engine ('measurement',)
2021-03-30 19:01:25,419 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("measurement")
2021-03-30 19:01:25,420 INFO sqlalchemy.engine.base.Engine ()
2021-03-30 19:01:25,422 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("measurement")
2021-03-30 19:01:25,423 INFO sqlalchemy.engine.base.Engine ()
2021-03-30 19:01:25,424 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-30 19:01:25,425 INFO sqlalchemy.engine.base.Engine ('measurement',)
2021-03-30 19:01:25,429 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("measurement")
2021-03-30 19:01:25,430 INFO sqlalchemy.engine.base.Engine ()
2021-03-30 19:01:25,432 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("measurement")
2021-03-30 19:01:25,433 INFO sqlalchemy.engine.base.Engine ()
2021-03-30 19:01:25,434 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("measurement")
2021-03-30 19:01:25,435 INFO sqlalchemy.engine.base.Engine ()
2021-03-30 19:01:25,437 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("measurement")
2021-03-30 19:01:25,438 INFO sqlalchemy.engine.base.Engine ()
2021-03-30 19:01:25,440 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-30 19:01:25,441 INFO sqlalchemy.engine.base.Engine ('measurement',)
2021-03-30 19:01:25,445 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("station")
2021-03-30 19:01:25,446 INFO sqlalchemy.engine.base.Engine ()
2021-03-30 19:01:25,449 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-30 19:01:25,450 INFO sqlalchemy.engine.base.Engine ('station',)
2021-03-30 19:01:25,453 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("station")
2021-03-30 19:01:25,454 INFO sqlalchemy.engine.base.Engine ()
2021-03-30 19:01:25,455 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("station")
2021-03-30 19:01:25,456 INFO sqlalchemy.engine.base.Engine ()
2021-03-30 19:01:25,458 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-30 19:01:25,459 INFO sqlalchemy.engine.base.Engine ('station',)
2021-03-30 19:01:25,460 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("station")
2021-03-30 19:01:25,463 INFO sqlalchemy.engine.base.Engine ()
2021-03-30 19:01:25,470 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("station")
2021-03-30 19:01:25,471 INFO sqlalchemy.engine.base.Engine ()
2021-03-30 19:01:25,473 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("station")
2021-03-30 19:01:25,474 INFO sqlalchemy.engine.base.Engine ()
2021-03-30 19:01:25,476 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("station")
2021-03-30 19:01:25,476 INFO sqlalchemy.engine.base.Engine ()
2021-03-30 19:01:25,478 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-30 19:01:25,483 INFO sqlalchemy.engine.base.Engine ('station',)

In [8]:
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
session = Session(engine)

In [10]:
app = Flask(__name__)

In [11]:
@app.route("/")
def welcome():
        return """<html>
<h1>Hawaii Climate App (Flask API)</h1>
<img src="https://i.ytimg.com/vi/3ZiMvhIO-d4/maxresdefault.jpg" alt="Hawaii Weather"/>
<p>Precipitation Analysis:</p>
<ul>
  <li><a href="/api/v1.0/precipitation">/api/v1.0/precipitation</a></li>
</ul>
<p>Station Analysis:</p>
<ul>
  <li><a href="/api/v1.0/stations">/api/v1.0/stations</a></li>
</ul>
<p>Temperature Analysis:</p>
<ul>
  <li><a href="/api/v1.0/tobs">/api/v1.0/tobs</a></li>
</ul>
<p>Start Day Analysis:</p>
<ul>
  <li><a href="/api/v1.0/2017-03-14">/api/v1.0/2017-03-14</a></li>
</ul>
<p>Start & End Day Analysis:</p>
<ul>
  <li><a href="/api/v1.0/2017-03-14/2017-03-28">/api/v1.0/2017-03-14/2017-03-28</a></li>
</ul>
</html>

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-11-637be698734a>, line 26)

In [12]:
@app.route("/api/v1.0/precipitation")
def precipitation():
        # Convert the Query Results to a Dictionary Using `date` as the Key and `prcp` as the Value
        # Calculate the Date 1 Year Ago from the Last Data Point in the Database
        one_year_ago = dt.date(2017,8,23) - dt.timedelta(days=365)
        # Design a Query to Retrieve the Last 12 Months of Precipitation Data Selecting Only the `date` and `prcp` Values
        prcp_data = session.query(Measurement.date, Measurement.prcp).\
                filter(Measurement.date >= one_year_ago).\
                order_by(Measurement.date).all()
        # Convert List of Tuples Into a Dictionary
        prcp_data_list = dict(prcp_data)
        # Return JSON Representation of Dictionary
        return jsonify(prcp_data_list)

# Station Route
@app.route("/api/v1.0/stations")
def stations():
        # Return a JSON List of Stations From the Dataset
        stations_all = session.query(Station.station, Station.name).all()
        # Convert List of Tuples Into Normal List
        station_list = list(stations_all)
        # Return JSON List of Stations from the Dataset
        return jsonify(station_list)

# TOBs Route
@app.route("/api/v1.0/tobs")
def tobs():
        # Query for the Dates and Temperature Observations from a Year from the Last Data Point
        one_year_ago = dt.date(2017,8,23) - dt.timedelta(days=365)
        # Design a Query to Retrieve the Last 12 Months of Precipitation Data Selecting Only the `date` and `prcp` Values
        tobs_data = session.query(Measurement.date, Measurement.tobs).\
                filter(Measurement.date >= one_year_ago).\
                order_by(Measurement.date).all()
        # Convert List of Tuples Into Normal List
        tobs_data_list = list(tobs_data)
        # Return JSON List of Temperature Observations (tobs) for the Previous Year
        return jsonify(tobs_data_list)

# Start Day Route
@app.route("/api/v1.0/<start>")
def start_day(start):
        start_day = session.query(Measurement.date, func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
                filter(Measurement.date >= start).\
                group_by(Measurement.date).all()
        # Convert List of Tuples Into Normal List
        start_day_list = list(start_day)
        # Return JSON List of Min Temp, Avg Temp and Max Temp for a Given Start Range
        return jsonify(start_day_list)

# Start-End Day Route
@app.route("/api/v1.0/<start>/<end>")
def start_end_day(start, end):
        start_end_day = session.query(Measurement.date, func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
                filter(Measurement.date >= start).\
                filter(Measurement.date <= end).\
                group_by(Measurement.date).all()
        # Convert List of Tuples Into Normal List
        start_end_day_list = list(start_end_day)
        # Return JSON List of Min Temp, Avg Temp and Max Temp for a Given Start-End Range
        return jsonify(start_end_day_list)

# Define Main Behavior
if __name__ == '__main__':
    app.run(debug=True)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Restarting with windowsapi reloader

SystemExit: 1

C:\Users\jglen\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3426: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [14]:
# Create collections of temperature data
juneData.mean()

prcp     0.136360
tobs    74.944118
dtype: float64

In [18]:
juneData.max()

station    USC00519523
prcp              4.43
tobs                85
dtype: object

In [15]:
decemberData.mean()

prcp     0.216819
tobs    71.041529
dtype: float64

In [17]:
decemberData.max()

station    USC00519523
prcp              6.42
tobs                83
dtype: object

In [19]:
juneTemp = juneData.tobs
juneTemp

date
2010-06-01    78
2010-06-02    76
2010-06-03    78
2010-06-04    76
2010-06-05    77
              ..
2017-06-26    79
2017-06-27    74
2017-06-28    74
2017-06-29    76
2017-06-30    75
Name: tobs, Length: 1700, dtype: int64

In [20]:
decemberTemp = decemberData.tobs
decemberTemp

date
2010-12-01    76
2010-12-03    74
2010-12-04    74
2010-12-06    64
2010-12-07    64
              ..
2016-12-27    71
2016-12-28    71
2016-12-29    69
2016-12-30    65
2016-12-31    65
Name: tobs, Length: 1517, dtype: int64

In [21]:
# Run paired t-test
stats.ttest_ind(juneTemp,decemberTemp)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

In [ ]:
The mean temperature difference between the June and December is 3.9 degrees Fahrenheit. This is not much of a difference. The t-test with an extremely low p-value indicates though that the difference is statistically significant. So while the difference is meaningful, the actual difference is not, thereby indicating that you can travel to Hawaii and enjoy 70 degree temperatures year-round.